/* styles/Menu.scss */
.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center; // 横方向の中央揃え
    align-items: center;     // 縦方向の中央揃え
    gap: 16px;               // リンクの間隔
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
      color: darkblue;
    }
  }

  .title{
    font-size: 1.5rem;
    font-weight: bold;
  }

}

.instagram-link {
  display: inline-block;
  margin-top: 20px;

  img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1); // ホバーで少し大きくなる
    }
  }
}